
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <!-- injector:js -->
  <script src="../../drupal/domready/ready.min.js?{{ cacheBuster }}"></script>
  <script src="../../drupal/jquery/dist/jquery.min.js?{{ cacheBuster }}"></script>
  <script src="../../drupal/jquery-once/jquery.once.min.js?{{ cacheBuster }}"></script>
  <script src="../../drupal/drupal/index.js?{{ cacheBuster }}"></script>
  <script src="../../drupal/drupalinit/index.js?{{ cacheBuster }}"></script>
  <script src="../../drupal/drupalSettingsLoader/index.js?{{ cacheBuster }}"></script>
  <!-- endinjector -->

  </body>
</html>
