
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <!-- injector:js -->
  <script src="../../../../components/drupal/domready/ready.min.js?cacheBuster={{ cacheBuster }}"></script>
  <script src="../../../../components/drupal/jquery/dist/jquery.min.js?cacheBuster={{ cacheBuster }}"></script>
  <script src="../../../../components/drupal/jquery-once/jquery.once.min.js?cacheBuster={{ cacheBuster }}"></script>
  <script src="../../../../components/drupal/drupal/index.js?cacheBuster={{ cacheBuster }}"></script>
  <script src="../../../../components/drupal/drupalinit/index.js?cacheBuster={{ cacheBuster }}"></script>
  <script src="../../../../components/drupal/drupalSettingsLoader/index.js?cacheBuster={{ cacheBuster }}"></script>
  <script src="../../../../js/scripts.js?cacheBuster={{ cacheBuster }}"></script>
  <!-- endinjector -->

  </body>
</html>
