{% for group in groups %}
<div class="sg-example-group">
  {% if group.name %}
  <h3 class="sg-example-head">{{ group.name }}</h3>
  {% endif %}
  <ul class="sg-colors">
  {% for item in group.items %}
    	<li>
    		<span class="sg-swatch" style="background: {{ item.value }};"></span>
        {% if item.variable %}
    		<span class="sg-label"><code>{{ item.variable }}: {{ item.value }}</code></span>
    		{% else %}
    		<span class="sg-label"><code>{{ item.value }}</code></span>
    		{% endif %}
    	</li>
  {% endfor %}
  </ul>
</div>
{% endfor %}
